body {
    margin: 0;
    padding: 0;
    font-family: serif, sans-serif;
    background-image: url(credit.jpg);
    background-size: cover;
    background-attachment: fixed;

}

.container {
    width: 500px;
    height: 500x;
    background: white;
    background-blend-mode: lighten;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.container h1 {
    font-size: 25px;
    color: rgb(100, 100, 255);
    text-align: center;
    text-decoration-line: underline;

}

.container h6 {
    font-size: 10px;
    color: rgb(0, 0, 0);
    margin-top: 5px;
    text-align: center;
    font-style: italic;
    text-decoration-line: underline;

}

.tags {
    width: 180px;
    height: 25px;
    background: rgb(205, 205, 223);
    border-radius: 10px;
    text-align: center;
    margin: 10px auto;
}

.tags input {
    background: none;
    border: none;
    outline: none;
    text-align: center;
    width: 90%;
    line-height: 10px;

}

.predict {
    width: 180px;
    height: 25px;
    background: white;
    border-radius: 10px;
    text-align: center;
    margin: 10px auto;
}

.predict button {
    background: rgb(100, 100, 255);
    outline: none;
    text-align: center;
    height: 120%;
    width: 100%;
    line-height: 10px;
}